<script>
  if ($(window).width() <= 1366) {
       alert('Website não automatizado e pouco recomendado para a resolução atual.\nPossivel solução: defina o zoom da página como 67%');
  }
</script>

<nav class="n fq">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><span>Culture</span></a>
        <ul id="nav-mobile" class="ag hide-on-med-and-down">
            <li><a href="/">Inicio</a></li>
            <li><a class="dropdown-button" href="#" data-activates="pages" data-constrainWidth="false" data-belowOrigin="true">Projetos<i class="material-icons ag">arrow_drop_down</i></a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
            <% for(let projeto of projetos) { %>
                <li><a href="/projeto/<%= projeto.name %>"><%= projeto.content.name %></a></li>
            <% } %>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse ag"><i class="material-icons white-text">menu</i></a>
    </div>
</nav>

<ul id="slide-out" class="side-nav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
        <li class="bold active">
            <a class="collapsible-header waves-effect waves-teal active">Pages</a>
            <div class="collapsible-body">
            <ul>
                <% for(let projeto of projetos) { %>
                    <li><a href="/projeto/<%= projeto.name %>"><%= projeto.content.name %></a></li>
                <% } %>
            </ul>
            </div>
        </li>
        </ul>
    </li>
    <li><a class="waves-effect waves-teal" href="/">Inicio</a></li>
</ul>